.nowork {
    background-color: #edeaca;
}

.sow-indoors {
    background-color: #479f76;
}


.transplant {
    background-color: #ffcd39;
}

.sow-outside {
    background-color: #ffd800;
}


.harvest {
    background-color: #fd7e14;
}