svg .selector {
    fill: #709a41;
}

rect.selector, line.selector {
    stroke-width: 3;
    stroke-dasharray: 14, 5;
    stroke: #709a41;
    fill: none;
}

svg .rotator {
    fill: #FF7300;
}

svg .top-left-resizer {
    cursor: nw-resize;
}

svg .null-left-resizer {
    cursor: w-resize;
}

svg .bottom-left-resizer {
    cursor: sw-resize;
}

svg .bottom-null-resizer {
    cursor: s-resize;
}

svg .bottom-right-resizer {
    cursor: se-resize;
}

svg .null-right-resizer {
    cursor: e-resize;
}

svg .top-right-resizer {
    cursor: ne-resize;
}

svg .top-null-resizer {
    cursor: n-resize;
}
